@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Rufina', serif;
}

.navbar-nav a {
    font-size: 15px;
}

.card-img {
    height: 550px;
    width: auto;
    image-rendering: optimizeQuality;
}

.headerMenu .login {
    display: flex;
    justify-content: space-between;
}

.headerMenu .Hours {
    display: flex;
    flex-direction: row;
    width: 30%;
    float: right;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.headerMenu .Horario {
    position: relative;
    bottom: 60px;
    left: 200px;
    border-bottom: 2px dotted #000;
    text-decoration: none;
}

.headerMenu .bodyHeader {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 326px;
    left: 1250px;
}

.headerMenu button {
    cursor: pointer;
    border: 1px solid white;
    background-color: transparent;
    height: 50px;
    width: 200px;
    font-size: 1.5em;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.headerMenu a {
    color: white;
}

.headerMenu p {
    float: right;
    margin-top: 200px;
}

.menu {
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 50%;
}

.cardContainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cardContainer p {
    border-bottom: 2px dotted #000;
    text-decoration: none;
    margin-top: 20px;
}

.cardbody {
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: black
}

.cardimg {
    height: 45vh;
    width: 50vh;
}

.menu button {
    width: 83%;
}

.card2,
.card6,
.card10,
.card14,
.card15,
.card16,
.card17,
.card21,
.card22,
.card26,
.card30 {
    display: none;
}

.user {
    display: none;
}